.my_green{
    background-color: #1abc9c;
}

.my_brown{
    background-color: #ba4b63;
}

.my_turquoise{
    background-color:#1ea4b6;
}

.my_black{
    background-color: #140f0f;
}

.my_lightblue{
    background-color: #1c83c1;
}

.my_blue{
    background-color: #0e38b5;
}

.my_beige{
    background-color: #ccb2a3;
}

.my_grey{
    background-color: #3a546d;
}

.my_darkblue{
    background-color:  #2c3e50;
}

.my_empty{
    height: 36px;
}