.green{
    background-color: #1abc9c;
}

.brown{
    background-color: #ba4b63;
}

.turquoise{
    background-color:#1ea4b6;
}

.black{
    background-color: #140f0f;
}

.lightblue{
    background-color: #1c83c1;
}

.blue{
    background-color: #0e38b5;
}

.beige{
    background-color: #ccb2a3;
}

.grey{
    background-color: #3a546d;
}

.darkblue{
    background-color:  #2c3e50;
}